// ==========================================================================
// Variables
// ==========================================================================

// Font Stacks
$font-family--primary    : 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weights

$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;

// Descriptive Base Colors

$white    : #fff;
$black    : #0b0b0b;
$grey     : #797e83;

$viking  				: #58e1c1;
$malibu        	: #51ddfc;
$emerald        : #63cc82;
$sunglo					: #e4757a;
$coral          : #ff784f;
$purple-majesty : #9279c3;


// Color Usage

$color-primary   : $viking;
$color-secondary : $malibu;


// Color Palette Modifiers

$color-palettes: (
	grey: (
		xx-light : lighten($grey, 43%),
		x-light  : lighten($grey, 35%),
	  light    : lighten($grey, 12%),
	  base     : $grey,
	 	dark     : darken($grey, 8%),
	 	x-dark   : darken($grey, 16%)
	),
	black: (
		light    : lighten($black, 40%),
		base     : $black,
		dark     : darken($black, 10%)
	)
);

// UI Colors

$ui-colors: (
	default : $color-secondary,
	success : $emerald,
	error   : $sunglo,
	warning : $coral,
	info    : $purple-majesty
);

// Text

$base__font-size : 18px;
$base__line      : 1.5;
$letter-space    : 1px;

// Border radius

$br--default    : .2em;
$br--round      : 50%;

// Transitions

$trns-duration  : .3s;

// Path to Assets

$path--rel      : "../images";

// Grid

$g-col-width    : 65px;
$g-gutter-width : 20px;
$g-col-count    : 12;
$g-cont-max-w   : 1090px;

// Breakpoints

$brkpoint-sm		: 1px;
$brkpoint-md		: 768px;
$brkpoint-lg		: 1100px;