// ==========================================================================
// Forms
// ==========================================================================

.form {
	.img--avatar {
		display: block;
		margin: em(20px) auto;
	}
	@include e(label) {
		@include m(hidden) {
			@extend .srt;
		}
		display: block;
		margin-bottom: em(10px);
	}

	@include e(input) {
		font-size : em(15px);
		margin: em(24px) auto;
		border-bottom: 6px solid $color-primary;
		background: $white;
		color: palette(black, dark);
		font-weight: $font-weight--medium;
		display: block;
		padding: em(12px);
		width: 94%;
		&:focus {	
			border-color: $color-primary;
		}

	}

	button {
		width: 100%;
	}
}