// ==========================================================================
// Grid
// ==========================================================================

.container {
  padding: 0 em(16px);
}
.grid__row {
	@extend %clearfix;
	@extend .centered;
	@include flexy($dir: column);
  padding: em(36px) 0;
  width: 84%;
  @include mq(large){
    padding: em(48px) 0;
    width: 90%;
  }
  

	// Make nested grid Container 100%;

	[class*="grid_col--"] > & {
		width: 100%;
	}

	// set a max-width for grid Container
	@include mq(large) {
		max-width: $g-cont-max-w;
		flex-direction: row;
	}


}

// Calculate grid columns
.grid__col{
  
  @include mq(medium) {
    @include g-columns;
  }

  
  @include column-colors($column-colors);
  

}

// Column styles
[class^="grid__col--"] {

  @include mq(small) {
    margin-top: em(12px);
    margin-bottom: em(12px);
  }
  @include mq(medium) {
    @include doubly(percentage($g-gutter-width / $context));    
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    &:last-of-type {
      float: right;
    }
  }
}


