// ==========================================================================
// Navigation
// ==========================================================================

.nav {

	@include mq(large){
		@include flexy($just: flex-end);
	}

	&__item {
		&:first-of-type a{
				background-color: $color-primary;
				color: $white;
		}
		a {
			border-radius: $br--default;
			color: palette(black);
			font-weight: $font-weight--light;
			display: block;
			padding: em(17px);
			text-align: center;
			text-decoration: none;



		}
	}
}