// ==========================================================================
// Navigation
// ==========================================================================

.nav {

	@include mq(large){
		@include flexy($just: flex-end);
	}

	&__item {

		a {
			color: palette(black);
			display: block;
			text-align: center;
			text-decoration: none;	
		}
	}
}